$font: 'IBM Plex Sans', sans-serif;
$black-text: #2c2738;
$error-text: #ff7171;
$light-blue-text: #7c9cbf;
$light-gray-text: #ebf4f8;
$gray-text: #b1b5bf;
$gray: #756f86;
$light-gray: #dbe2ea;
$dark-blue: #0880ae;
